# ==========================
# c++ stuft!
# ==========================

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
!tflite-dist/libs/linux_x64/libtensorflowlite.so
!tflite-dist/libs/linux_x64/libtensorflowlite_c.so
!tflite-dist/libs/linux_x64/libtensorflowlite_gpu_delegate.so
!tflite-dist/libs/linux_x64/libtensorflowlite_gpu_gl.so
!tflite-dist/libs/linux_x64/libtensorflowlite_xnnpack.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ==========================
# CMake stuft!
# ==========================

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
#Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


# ==========================
# Project specific
# ==========================

/home/sara/Desktop/Master-thesis/master_thesis/TFLite/HelloWorld/build
[Bb][Uu][Ii][Ll][Dd]/
#tflite-dist/include/*
.vscode/*
data/*
memory/*
models/*
screenlog.*
tflite-dist/*
time/*
pics/*
python/__pycache__/*
